.collaborations {
  width: 100%;
  display: flex;
  gap: 3%;
  margin-bottom: 3rem;
}
.collaborations_img {
  margin-left: -2px;
  width: 30%;
  height: auto;
}
.logos {
  display: block;
  width: 70%;
  align-self: center;
}
.slider1 .image,
.slider2 .image {
  width: 11%;
  height: auto;
}
.slider1,
.slider2 {
  display: flex;
  margin: 20px auto;
  gap: 3%;
}

@media (max-width: 768px) {
  .collaborations {
    display: block;
  }
  .collaborations_img {
    margin-left: -2%;
    width: 100%;
  }
  .slider1,
  .slider2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .logos {
    display: block;
    width: 100%;
    align-self: center;
  }
  .slider1 .image,
  .slider2 .image {
    width: 11.4%;
    height: auto;
  }
}
