.blog-container {
  margin: 5rem auto;
  width: 65%;
  position: relative;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem;
}
.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 8px;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  list-style: none;
  border: 2px solid #b90124;
  padding: 5px 30px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.load-more:hover {
  background-color: #b90124;
  color: #fff;
}
.card-text {
  padding: 10px;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
.card-text h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.card-text p {
  font-size: 15px;
  font-family: PF din Display;
  font-weight: 500;
  line-height: 15px;
}
.card-grid a {
  text-decoration: none;
  color: #000;
}

.card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 40vh;
}
.loader img {
  width: 100px;
  height: 100px;
}

.absolute-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.blog-page-container {
  width: 100%;
  margin: 0px;
}

.blog-page-content h3 {
  width: 80%;
  margin: 5rem auto;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
.blog-page-content h3 h3 {
  width: 100%;
  margin: 0rem auto;
  font-weight: 900;
}
.blog-page-content h3 h1 {
  margin-block-start: 0em;
  margin-block-end: 0.6em;
  line-height: normal;
}
.blog-page-content h3 ol {
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: normal;
}
.blog-page-content h3 h2,
.blog-page-content h3 p,
.blog-page-content h3 h3,
.blog-page-content h3 h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: normal;
}
.blog-page-content h3 img {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.blog-page-content table {
  border-collapse: separate;
  border-spacing: 0;
}
.blog-page-content th,
.blog-page-content td {
  border: 2px solid #ddd;
  padding: 10px;
}
.blog-page-content table p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 1550px) {
  .card-text {
    font-size: 24px;
  }
  .load-more {
    font-size: 24px;
  }
  .blog-page-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 1400px) {
  .blog-container {
    margin: 3rem auto;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .card-text {
    font-size: 15px;
    line-height: 20px;
  }
  .card-text p {
    font-size: 12px;

    line-height: 10px;
  }
  .load-more {
    font-size: 24px;
    line-height: 20px;
  }
  .blog-container,
  .blog-page {
    margin: 1rem auto;
    width: 90%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 1rem;
  }
  .blog-page-content h3 {
    width: 90%;
    margin: 2rem auto;
    font-size: 15px;
    line-height: 20px;
  }
  .blog-page-content h3 ol {
    padding-inline-start: 20px;
  }
  .blog-page-content h3 h1 {
    margin-block-start: 0em;
    margin-block-end: 0.4em;
    line-height: normal;
  }
  .blog-page-content h3 h2,
  .blog-page-content h3 p,
  .blog-page-content h3 h3,
  .blog-page-content h3 h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: normal;
  }

  .blog-page-content th,
  .blog-page-content td {
    border: 1px solid #ddd;
    padding: 8px;
  }
}
