.Contactheading {
  color: #000;
  font-family: Mirador800;
  font-size: 45px;
  font-weight: 900;
  line-height: normal;

  margin: 2rem auto;
  margin-left: 25%;
}
.Contactheading span {
  color: #b90124;
}
.text-letsTalk {
  color: #000;
  text-align: center;
  margin: 2rem auto;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}

@media (max-width: 1550px) {
  .text-letsTalk {
    font-size: 24px;
  }
  .Contactheading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .text-letsTalk {
    padding: 10px 40px;
    font-size: 20px;
  }
  
}
