.fourth-section-main-div {
  width: 96%;
  position: relative;
  margin-left: 4%;
}
.fourth-section-main-div .title-div {
  width: 45%;
  padding-left: 10%;
}
.fourth-section-main-div .title-div .Sportstitle {
  font-family: Mirador800;
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  color: #b90124;
}
.fourth-section-main-div .title-div .Sportstitle:hover {
  color: #660113;
}
.fourth-section-main-div .title-div .title {
  color: #262626;
  font-family: "Mirador800";
  font-size: clamp(15px, 1.8vw, 45px);
  font-style: italic;
  text-align: left;
  font-weight: 900;
}
.fourth-section-main-div .title-div .circled-text {
  width: fit-content;
  position: relative;
  font-weight: 800;
  text-wrap: nowrap;
  font-family: "Mirador";
}
.fourth-section-main-div .title-div span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: fit-content;
}
svg .svg-circle {
  stroke-dashoffset: 206.1999053955078px;
  stroke-dasharray: 206.1999053955078px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    0s;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.svg-circle.active {
  stroke-dashoffset: 0;
}

.fourth-section-main-div .sub-title {
  color: #60bab1;
  font-family: "darwin-pro", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 2.875rem; /* 115% */
  letter-spacing: 0.075rem;
}

.fourth-section-main-div .activity-div {
  width: 30%;
  aspect-ratio: 16/9.5;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.fourth-section-main-div .activity-div:hover {
  transform: scale(1.03);
  filter: brightness(0.95);
}

.fourth-section-main-div .btn-div .see-more-btn:hover .red-bg-btn {
  animation: enlarge 400ms ease;
  transform: translate(-50%, -50%) scale(1.1);
}

@keyframes enlarge {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.fourth-section-main-div .btn-div .see-more-btn .btn-img {
  width: 10rem;
  height: auto;
  transform: scale(0.8);
}

.fourth-section-main-div .btn-div .see-more-btn:hover .btn-img {
  animation: rotateFader 400ms ease;
  transform: rotate(-28deg) scale(0.9);
}

@keyframes rotateFader {
  from {
    transform: rotate(0deg) scale(0.8);
    opacity: 1;
  }
  to {
    transform: rotate(-28deg) scale(0.9);
    opacity: 1;
  }
}

.fourth-section-main-div .btn-div .see-more-btn .red-bg-btn {
  font-size: 2.5rem;
  color: #fff;
  aspect-ratio: 1/1;
  width: 5rem;
  height: auto;
  border-radius: 50%;
  background-color: #b90124;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-section-main-div .see-more-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.fourth-section-main-div .activity-div .title-div-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px 30px;
}
.fourth-section-main-div .activity-div .title {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
  text-shadow: 0px 0px 28px rgba(0, 0, 0, 0.5);
  font-family: TT Chocolates;
  font-size: clamp(12px, 2vw, 30px);
  font-style: normal;
  font-weight: 700;
}
.fourth-section-main-div .activities-div {
  display: flex;
  margin-top: 1rem;
}
.fourth-section-main-div .activities-div .topy {
  position: absolute;
  transform: translate(-9%, -85%);
  /* transform: translateY(-85%); */
  left: auto;
  right: 17%;
}

.fourth-section-main-div .activities-div .lefty {
  right: auto;
  left: 10%;
}

.fourth-section-main-div .activities-div .bottomy {
  position: absolute;
  transform: translate(-9%, 45%);
  /* transform: translateY(45%); */
  left: auto;
  right: 13%;
}
.fourth-section-main-div .btn-div {
  display: flex;
  position: relative;
  transform: translate(-3%, -150%);
  /* transform: translate3d(-150%, ); */
  /* transform: translateX(0%); */
  align-items: center;
  justify-content: center;
}
.fourth-section-main-div .see-all {
  width: 25%;
  transform: translateY(-135%);
  margin-left: 12%;
  height: auto;
}
.fourth-section-main-div .see-more-mobile,
.fourth-section-main-div .see-all-mobile {
  display: none;
}

@media (max-width: 1550px) {
  .fourth-section-main-div .btn-div .see-more-btn .red-bg-btn {
    font-size: 2rem;
    width: 4rem;
  }
  .fourth-section-main-div .btn-div .see-more-btn .btn-img {
    width: 8rem;
  }
}
@media (max-width: 1250px) {
  .fourth-section-main-div .btn-div .see-more-btn .red-bg-btn {
    font-size: 1.8rem;
    width: 3.2rem;
  }
  .fourth-section-main-div .btn-div .see-more-btn .btn-img {
    width: 6rem;
  }
}
@media (max-width: 768px) {
  .fourth-section-main-div {
    width: 100%;
    position: relative;
    margin: 0;
    margin-bottom: 0rem;
  }
  .fourth-section-main-div .title-div {
    width: 90%;
    margin-left: auto;
    padding: 0;
    margin-right: auto;
  }

  .fourth-section-main-div .see-all,
  .fourth-section-main-div .btn-div {
    display: none;
  }
  .fourth-section-main-div .activity-div {
    width: 90%;
    height: 20rem;
  }
  .fourth-section-main-div .title-div .title {
    font-size: 1.2rem;
  }

  .fourth-section-main-div .sub-title {
    font-size: 0.9rem;
  }
  .fourth-section-main-div .title-div .Sportstitle {
    font-size: 55px;
  }
  .fourth-section-main-div .activities-div .title {
    font-size: 22px;
  }

  .fourth-section-main-div .activities-div {
    display: block;
    margin-top: 0rem;
  }
  .fourth-section-main-div .activities-div .topy,
  .fourth-section-main-div .activities-div .lefty,
  .fourth-section-main-div .activities-div .bottomy {
    position: relative;
    transform: translateY(1%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .fourth-section-main-div .see-more-mobile {
    display: block;
    margin-top: 1rem;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .fourth-section-main-div .see-more-mobile .see-more-mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b90124;
    color: white;
    border-radius: 100px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .fourth-section-main-div .activity-div {
    width: 90%;
    height: 13rem;
  }
}
