.Confluence-heading {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Mirador800;
  font-size: clamp(20px, 2.5vw, 50px);
  font-weight: 500;
  padding: 2rem 0rem;
  font-style: italic;
  line-height: normal;
  color: #000;
}
.yellowLine-confluence {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.confluence-text {
  display: block;
  font-family: TT Chocolates;
  font-size: clamp(18px, 1.3vw, 45px);
  font-weight: 200;
  color: #000;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.confluence-images {
  display: flex;
}
.confluence-images .images-pa img {
  height: auto;
}
.confluence-images .images-pa,
.confluence-images .text-confluences {
  padding: 5rem;
  width: 50%;
  align-self: center;
}
.confluence-images .text-confluences h2 {
  color: #b90024;
  text-align: center;
  font-family: PF DIN;
  font-size: clamp(20px, 2.5vw, 50px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.confluence-images .text-confluences p3 {
  color: #000;
  text-align: center;
  font-family: TT Chocolates;
  font-size: clamp(18px, 1.3vw, 45px);
  font-weight: 200;
  padding: 3rem 0rem;
}

@media (max-width: 768px) {
  .Confluence-heading {
    width: 90%;
    font-size: 30px;
  }
  .yellowLine-confluence {
    width: 35%;
  }
  .confluence-text {
    font-size: clamp(15px, 4.5vw, 30px);
    width: 80%;
  }
  .confluence-images {
    display: block;
  }
  .confluence-images .images-pa img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .confluence-images .images-pa,
  .confluence-images .text-confluences {
    padding: 1.5rem;
    width: 100%;
  }
  .confluence-images .images-pa {
    padding-bottom: 0;
  }
  .confluence-images .text-confluences h2 {
    font-size: 30px;
  }
  .confluence-images .text-confluences p3 {
    font-size: clamp(15px, 4.5vw, 30px);
  }
}
