.sports-paragraph {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  padding: 3rem;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
.sports-line {
  width: 100%;
  background-color: #b90124;
  height: 2rem;
}
.archiery {
  margin-left: "0%";
  width: 50%;
  height: auto;
  align-self: center;
}
.cycling {
  margin-right: "0%";
  width: 50%;
  height: auto;
  align-self: center;
}
.text-div-sports {
  width: 50%;
  margin-right: 2rem;
  align-self: center;
  padding: 1rem 0rem;
  margin-left: 2rem;
}
.headingSports {
  text-align: center;
  font-size: 45px;
  font-family: "Mirador";
  font-style: italic;
  color: #b90124;
}
.sports-text {
  color: #000;
  font-family: PF din Display100;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
@media (max-width: 1550px) {
  .headingSports {
    font-size: 40px;
  }
  .sports-text {
    font-size: 24px;
  }
  .sports-paragraph {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .sports-paragraph {
    width: 70%;
    padding: 3rem 0rem;
    font-size: 15px;
    line-height: 20px;
  }
  .archiery {
    width: 100%;
  }
  .MobileSportsHeading {
    text-align: center;
    font-size: 20px;
    margin: 1rem 0rem;
    font-family: "Mirador";
    font-style: italic;
    color: #b90124;
  }
  .SportsMobileText {
    color: #000;
    font-size: 15px;
    line-height: 20px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: PF din Display100;
    font-weight: 200;
    letter-spacing: 0.03em;
  }
}
