.mission-desc {
  position: relative;
  width: 100%;
}
.mission-desc-p {
  position: relative;
  color: #000;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-family: PF din Display100;
  font-size: 27px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
.below-content {
  background-color: #b90124;
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}
.content-vision {
  align-self: center;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 60%;
  color: #fff;
  font-family: PF din Display100;
  font-size: 27px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
.below-content img {
  width: 40%;
  height: auto;
}
.content-vision h2 {
  color: #fff;
  font-family: Mirador;
  font-size: xxx-large;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.2px;
}
.content-vision h3 {
  color: #fff;
  font-family: PF din Display100;
  font-size: 27px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 35px;
}
@media (max-width: 1550px) {
  .mission-desc-p {
    padding-top: 7rem;
    padding-bottom: 7rem;
    font-size: 24px;
  }
  .content-vision {
    font-size: 24px;
  }
  .content-vision h2 {
    font-size: xx-large;
  }

  .content-vision h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .mission-desc-p {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 15px;
    line-height: 20px;
    width: 90%;
  }
  .content-vision {
    width: 100%;
  }
  .below-content {
    display: block;
    margin-bottom: 3rem;
  }
  .content-vision {
    padding: 1rem 0rem;
    width: 95%;
    margin: auto;
  }
  .content-vision {
    font-size: 15px;
    line-height: 20px;
  }
  .content-vision h2 {
    font-size: 20px;
  }

  .content-vision h3 {
    font-size: x-large;
  }
  .below-content img {
    width: 100%;
    height: auto;
  }
  .content-vision img {
    width: 50%;
  }
}
