.Award-section-main-div {
  width: 97%;
  position: relative;
  margin-right: 3%;
}

.Award-section-main-div .title-div {
  width: 45%;
  margin-left: auto;
  padding-right: 10%;
}
.Award-section-main-div .title-div .Awardstitle {
  font-family: Mirador800;
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  color: #b90124;
}
.Award-section-main-div .title-div .Awardstitle:hover {
  color: #660113;
}
.Award-section-main-div .title-div .title {
  color: #262626;
  font-family: "Mirador800";
  font-size: clamp(15px, 1.6vw, 45px);
  font-style: italic;
  line-height: 1.25;
  text-align: left;
  font-weight: 900;
}

.Award-section-main-div .sub-title {
  color: #60bab1;
  font-family: "darwin-pro", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 2.875rem; /* 115% */
  letter-spacing: 0.075rem;
}

.Award-section-main-div .activity-div {
  width: 30%;
  aspect-ratio: 16/9.5;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.Award-section-main-div .activity-div:hover {
  transform: scale(1.03);
  filter: brightness(0.95);
}

.Award-section-main-div .btn-div .see-more-btn:hover .red-bg-btn {
  animation: enlarge 400ms ease;
  transform: translate(-50%, -50%) scale(1.1);
}

@keyframes enlarge {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.Award-section-main-div .btn-div .see-more-btn .btn-img {
  width: 10rem;
  height: auto;
  transform: scale(0.8);
}

.Award-section-main-div .btn-div .see-more-btn:hover .btn-img {
  animation: rotateFader 400ms ease;
  transform: rotate(-28deg) scale(0.9);
}

@keyframes rotateFader {
  from {
    transform: rotate(0deg) scale(0.8);
    opacity: 1;
  }
  to {
    transform: rotate(-28deg) scale(0.9);
    opacity: 1;
  }
}
.Award-section-main-div .btn-div .see-more-btn .red-bg-btn {
  font-size: 2.5rem;
  color: #fff;
  aspect-ratio: 1/1;
  width: 5rem;
  border-radius: 50%;
  background-color: #b90124;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Award-section-main-div .see-more-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.Award-section-main-div .activity-div .title-div-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px 30px;
}
.Award-section-main-div .activity-div .title {
  position: relative;
  width: 80%;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
  text-shadow: 0px 0px 28px rgba(0, 0, 0, 0.5);
  font-family: TT Chocolates;
  font-size: clamp(12px, 2vw, 30px);
  font-style: normal;
  font-weight: 100;
}
.Award-section-main-div .activities-div {
  display: flex;
  margin-top: 1rem;
}
.Award-section-main-div .about-btn:hover {
  transform: scale(1.1);
}

.Award-section-main-div .activities-div .topy {
  position: absolute;
  transform: translate(45%, -85%);
  right: auto;
}

.Award-section-main-div .activities-div .lefty {
  position: absolute;
  right: 12.5%;
  transform: translateY(10%);
  left: auto;
}
.Award-section-main-div .activities-div .bottomy {
  position: absolute;
  transform: translateY(55%);
  left: 17%;
  right: auto;
}
.Award-section-main-div .btn-div {
  display: flex;
  position: relative;
  /* transform: translate(-3%, -150%); */
  align-items: center;
  justify-content: center;
}
.Award-section-main-div .see-all {
  width: 25%;
  margin-left: 62%;
  height: auto;
  margin-top: 14rem;
  margin-bottom: 5rem;
}
.Award-section-main-div .see-more-mobile,
.Award-section-main-div .see-all-mobile {
  display: none;
}
@media (max-width: 1550px) {
  .Award-section-main-div .btn-div .see-more-btn .red-bg-btn {
    font-size: 2rem;
    width: 4rem;
  }
  .Award-section-main-div .btn-div .see-more-btn .btn-img {
    width: 8rem;
  }
}
@media (max-width: 1250px) {
  .Award-section-main-div .btn-div .see-more-btn .red-bg-btn {
    font-size: 1.8rem;
    width: 3.2rem;
  }
  .Award-section-main-div .btn-div .see-more-btn .btn-img {
    width: 6rem;
  }
}
@media (max-width: 768px) {
  .Award-section-main-div {
    width: 100%;
    position: relative;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .Award-section-main-div .title-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .Award-section-main-div .see-all,
  .Award-section-main-div .btn-div {
    display: none;
  }
  .Award-section-main-div .activity-div {
    width: 90%;
    height: 20rem;
  }
  .Award-section-main-div .title-div .title {
    font-size: 1.2rem;
    font-family: Mirador;
  }
  .Award-section-main-div .activity-div .title-div-card {
    padding: 10px 20px;
  }
  .Award-section-main-div .sub-title {
    font-size: 0.9rem;
  }
  .Award-section-main-div .title-div .Awardstitle {
    font-size: 55px;
    font-family: Mirador;
  }
  .Award-section-main-div .activities-div .title {
    font-size: 22px;
  }

  .Award-section-main-div .activities-div {
    display: block;
    margin-top: 0rem;
  }
  .Award-section-main-div .activities-div .topy,
  .Award-section-main-div .activities-div .lefty,
  .Award-section-main-div .activities-div .bottomy {
    position: relative;
    transform: translateY(1%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .Award-section-main-div .see-more-mobile {
    display: block;
    margin-top: 1rem;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .Award-section-main-div .see-more-mobile .see-more-mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b90124;
    color: white;
    border-radius: 100px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .Award-section-main-div .activity-div {
    width: 90%;
    height: 13rem;
  }
}
