.scholarship-table {
  border-collapse: separate;
  border-spacing: 0;
  width: fit-content;
  margin: auto;
}
.scholarship-table th {
  width: 50%;
}
.scholarship-table th,
.scholarship-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
