.text-pastoral {
  width: 60%;
  color: #000;
  margin: auto;
  font-family: TT Chocolates;
  font-size: clamp(18px, 1.3vw, 45px);
  font-weight: 100;
  padding: 3rem 0rem;
}
@media (max-width: 768px) {
  .text-pastoral {
    width: 80%;
    font-size: clamp(15px, 4.5vw, 30px);
  }
}
